/* Profile.css */
body {
  font-size: smaller;
  background-color: #f7f9fc; /* Light background color */
}

.profile-sidebar {
  background-color: #ffffff; /* White background for sidebar */
  border-radius: 8px; /* Rounded corners */
  height: 100lvh;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover; /* Ensure image covers the circle */
}

.accordion-button {
  background-color: #79b1ee; /* Primary color for accordion button */
  color: white; /* White text */
}

.accordion-button:focus {
  box-shadow: none; /* Remove focus outline */
}

.accordion-body ul {
  list-style: none; /* Remove default list style */
  padding-left: 0; /* Remove padding */
}

.accordion-body li {
  padding: 5px 0; /* Add some spacing between list items */
}



.card.shadow-sm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for cards */
}


.strong strong{
  font-size: 20px;
}